$bg-color: #ffffff;
$text-color: #000000;
$font-main: 'Noto Sans', sans-serif;
$breakpoint-mobile: 991px;
$burgermenu-color: #333;
$secondary-color: #ffffff;
$hover-color: #555;
$burger-width: 30px;
$burger-height: 3px;
$burger-spacing: 6px;